/**
 * Created by Xinhe on 2017/10/10.
 */
@import './color';

.section {
  background: @white;
  border: 2px solid @border-gray;
  margin: 20px;
  padding: 20px 60px;
}

.button-blue {
  border: solid 1px @blue;
  color: @blue;
  border-radius: 5px;
  padding: 5px 20px;
}

.basic-border{
  border: solid 1px @border-gray
}
