/**
 * Created by Xinhe on 2017/10/10.
 */
@import './color';

.section {
  background: @white;
  border: 2px solid @border-gray;
  margin: 20px;
  padding: 20px 60px;
}

.button(@color) {
  background-color: @white;
  border-radius: 5px;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 30px;
  padding: 0 10px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid @color;
  cursor: pointer;
  color: @color
}

.button-blue {
  .button(@blue)
}

.button-gray {
  .button(@gray)
}

.basic-border {
  border: solid 1px @border-gray
}
