div, h1, h2, html, body, p, ul, li {
  margin: 0px;
  padding: 0px;
}
*{
  font-family: 'Arvo', Helvetica, Tahoma, Arial, "Microsoft YaHei";
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style-type: none;
}
body{
  background: #ecf0f5;
  font-size: 16px;
}
.divider {
  height: 1px;
  background-color: #e2dddd;
}

.tooltip {
  display: block !important;
  padding: 4px;
  z-index: 10000;
  margin-left: 10px;
}
.tooltip .tooltip-inner {
  background: white;
  color: black;
  /*border-radius: 16px;*/
  border: solid 1px #e2dddd;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  display: none;
}

.tooltip .tooltip-inner::after {
  content: " ";
  position: absolute;
  top: calc(50% - 10px); /* At the bottom of the tooltip */
  left: 0%;
  margin-left: -15px;
  border-width: 10px;
  border-style: solid;
  border-color:  transparent #e2dddd transparent transparent;
}

.tooltip[x-placement='bottom']{
  margin-top: 15px;
}

.tooltip[x-placement='bottom'] .tooltip-inner::after{
  border-color:   transparent transparent #e2dddd  transparent;
  top: calc(-50% + 5px); /* At the bottom of the tooltip */
  left: calc(50% + 5px);
}

.tooltip[aria-hidden='true'] {
   visibility: hidden;
   opacity: 0;
   transition: opacity .15s, visibility .15s;

 }

.tooltip[aria-hidden='false'] {
   visibility: visible;
   opacity: 1;
   transition: opacity .15s;
 }

